<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="QMX_S_Meter_01.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="QMX__S_Meter_01.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <QMX_S_Meter_01.Properties.Settings>
            <setting name="ComPort" serializeAs="String">
                <value />
            </setting>
            <setting name="AgcBaseline" serializeAs="String">
                <value>0</value>
            </setting>
        </QMX_S_Meter_01.Properties.Settings>
        <QMX__S_Meter_01.Properties.Settings>
            <setting name="設定" serializeAs="String">
                <value>COM4</value>
            </setting>
        </QMX__S_Meter_01.Properties.Settings>
    </userSettings>
</configuration>